$screen-md: 800px;
$screen-lg: 1100px; 
// Mixins
@mixin xs{
  @media(max-width: $screen-md){
    @content
  }
}

@mixin lg{
  @media(max-width: $screen-lg){
    @content
  }
}



.homepage-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto; 
  max-width: 1500px;
  margin: 20px auto;

  .homepage-filters {
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center; 
  }

  @include xs{
    flex-direction: column;
    margin: 0;
  }

  .buildingImagesContainer{
      background-color: #f3f3f3;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      height: auto;
      @include lg{
        flex-direction: column;
        min-height: 650px;
      }

      @include xs{
        flex: 0;
        width: 100%;
      }

      .carousel{
        background-color: #f5f5f5;
        width: 100%;
        flex: 1;
      }

      .buildingInfo{
        background-color: #333;
        width: 100%;
        max-width: 250px;
        color: white;
        padding: 0 10px;
        @include lg{
          max-width: calc(100% - 20px);
          height: auto;
        }
        span{
          display:block;
          font-size: 14px;
          @include xs{
            font-size: 12px;
          }
        }
        .title{
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 15px;
          margin-top: 5px;
        }
        .description{
          font-style: italic;
          color: #BBB;
          margin-bottom: 5px;
        }
        .seatsWrapper{
          @include lg{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            margin-left: -10px;
          }
        }
        .iconAndText{
          display: flex;
          margin: 10px 0;
          img{
            width: 20px;
            height: auto;
            margin-right: 10px;
          }
          span{
            text-align: left;
          }
        }
      }
    }
  
    .homepage-sidebar {
      width: 100%;
      flex: 0.25;
      background-color: #f0f0f0;
      max-width: 250px;
      z-index: 5;
      .sidebarButtonWrapper{
        width: 70%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        position: relative;
      }
      .sidebarButton {
        position: relative;
        background-color: #3A506B;    
        border-radius: 15px;
        cursor: pointer;
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        .title{
          color: white;
          font-weight: bold;
          user-select: none;
        }
        @include xs{
          margin: 0 10px;
          height: 40px;
          padding: 0 10px;
        }

      }

        .floors.enable{
          position: absolute;
          width: 200px;
          height: auto;
          animation-name: fadeIn;
          animation-duration: 0.3s;
          margin-left: 20px;
          left: 100%;
          background-color: rgba($color: #333, $alpha: 0.7);
          border-radius: 10px;
          cursor: default;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 10;
          @include xs{
            border: 1px solid red;
            left: 0;
            top: 100%;
            margin-left: 0;
          }

          .floorButton{
            background-color: #f3f3f3;
            height: 35px;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            border-radius: 10px;
            text-decoration: none;
            span{
              font-weight: bold;
              color: #333333;
            }
          }
        }

        .floors.disable{
          display: none;
        }


      @include xs{
        max-width: none;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        flex: 0;
        height: 80px;
        min-height: 70px;
        align-items: center;
      }

      .sidebarButton.new {
        background-color: #A8B85A;
      }
    }

    @keyframes fadeIn {
      from {
        margin-left: 0;
        opacity: 0;
      }

      to{
        margin-left: 20px;
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from{
        margin-left: 20px;
        opacity: 1;
      }
      to{
        margin-left: 0;
        opacity: 0;
        visibility: hidden;
        width: 0;
      }
    }

}